{% extends 'base.html' %}

{% block title %}

<title>ML</title>

{% endblock title%}

{% block body %}


<div class="container">
    <form action="/review" id="search" method="POST" class="search-box-div">
      <legend id="legend"></legend>
      <div class="form-group">
        <input type="text" name="content" class="form-control" id="Searchproduct" aria-describedby="SearchProduct"
        placeholder="What are you looking for?">
    </div>
    <button  type="submit" class="btn btn-primary button" >Search</button>
  </form>
</div>



{% endblock body %}